@import "styles/variable.module.scss";

.loadingArea {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0px;
  left: 0px;
  z-index: 9999;
}

.loading {
  position: relative;
  left: calc(50% - 32px);
  top: calc(50vh - 32px);
}
